
<div class="container">
        <div id="cover-spin"></div>
            <div class="action-div">
                    
             
                    
                    <div class="alert alert-dark" role="alert">
                           
                      List of collection date <strong>{{dater}}</strong>
                  </div>
                   
                  
            </div>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                 
                <th>Amount</th>
                <th>Or #</th>
                <th>Date Paid</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of payments">
                 
                <td >awdawd</td>
                <td >awdawd</td>
                <td >awdawd</td>
                </tr>
            
            </tbody>
          </table>
    </div>
    