<div class="main-wrapper">
    <div class="log">
        <img src="assets/PHONICS LOGO NEW.png" id="logo" />
        <h1>Phonics Books Centrum</h1>
            <div class="log-wrapper">
            <div class="form-group">
              <label for="formGroupExampleInput">Username</label>
              <input type="text" [(ngModel)] ="username" class="form-control" id="formGroupExampleInput" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Password</label>
              <input type="text" [(ngModel)]="password" class="form-control" id="formGroupExampleInput2" placeholder="Password">
            </div>

            <div class="form-group">
                <button (click)="logged()" class="btn btn-primary">Log in</button>
              </div>
           
            </div>

    </div>
</div>  
